body{

  background-color:black; 
}
h1 {
    text-align: center;
    border: solid black;
}
.element{
  width: 200px;  
  height: 200px;
  border-radius: 100px;
  border: solid black;
}
.cercle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #000000;
    margin: auto;
    border: solid black;
}
.gigan{
  display : flex;
  border: solid black;
}
header{
  background: crimson;
}
input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 1px solid black;
}
.jumbotron{
  border: solid black;
  background-color: crimson;
}